

@font-face {
    font-family: "DIN Alternate", Arial;
}

/* Main Styling */


body {
    color: white;
    font-family: "DIN Alternate", Arial;
}


/* Header Styles */
.header {
    display: flex;
    background-color: black;
    height: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    display: flex;
    width: 240px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.header nav {
    display: flex;
    height: 80px;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

span {
    font-size: 15px;
}

.burger {
    display: flex;
    width: 50px;
    height: 50px;
}

.burger img {
    display: flex;
    width: 70px;
    height: 50px;
}

/* Body Style */

.main {
    height: calc(100vh - 80px);
    display: flex;
    background-color: black;
    background-image: url("background.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

h1 {
    font-size: 34px;
}

h3 {
    font-size: 20px;
}

.button-link {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
}

.main h1 {
    width: 100%;
    position: absolute;
    top: 58%;
    text-align: left;
    padding-left: 40px;
}

.main h3 {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: left;
    padding-left: 40px;
}

.main button {
    position: absolute;
    top: 76%;
    margin-left: 40px;
    height: 50px;
    width: 150px;
    border-color: white;
    background-color: transparent;
    color: white;
}